footer(class="mdl-mini-footer")
  div(class="mdl-mini-footer__right-section")
    div(class="mdl-logo") &copy; {{ year }} {{ title }}
    ul(class="mdl-mini-footer__link-list")
      li(v-for="link in links")
        a(href="{{ link.url }}") {{ link.name }}
