meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="A series of simple tools.")
meta(name="keywords", content="HTML, CSS, JS, JavaScript, tool, front-end, web development")
meta(name="author", content="Fengyuan Chen")
title Tools

// styles
link(href="css/material.min.css", rel="stylesheet")
link(href="css/main.css", rel="stylesheet")
